<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Edit ${hike.name} | My Hikes`}) %>
    <link rel="stylesheet" href="/styles/hike-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="newproduct">
        <h2>Edit A Hike</h2>
    </section>

    <form method="POST" action="/hikes/<%= hike._id %>?_method=PUT"></form>
        <!-- Name input -->
        <label for="name"> Hike Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <!-- Miles input -->
        <label for="miles">Miles:</label>
        <input type="number" id="rating" name="rating" min="0"  required>
        <br>
        <!-- Elevation input -->
        <label for="elevationGain">Elevation Gain:</label>
        <input type="text" id="elevationGain" name="elevationGain" min="0" required>
        
        <br>
        <!-- description input -->
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
        <br>
        <!-- city input -->
        <label for="city">City:</label>
        <textarea id="city" name="city" required></textarea>
        <br>
        <!-- state input -->
        <label for="state">State:</label>
        <textarea id="state" name="state" required></textarea>
        <br>
        <!-- route Photo input -->
        <label for="routePic">Route img (URL):</label>
        <input type="text" id="routePic" name="routePic">
        <br>
        <!-- incline Photo input -->
        <label for="inclinePic">Incline img (URL):</label>
        <input type="text" id="inclinePic" name="inclinePic">
        <br>
        <!-- additional info input -->
        <label for="additionalInfo">Additional Info:</label>
        <textarea id="additionalInfo" name="additionalInfo" required></textarea>
        <br>
        <input type="submit" value="Edit Hike">
    </form>

    
</body>

</html>
