<header>
    <h1>My Hikes</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            
            <li><a href="/about">About</a></li>
            
            <li><a href="/hikes">Hikes</a></li>
        </ul>
    </nav>
</header>
