<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'My Hikes'}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="welcome">
            <h2>Welcome to My Hikes</h2>
        </section>

        <img src="assets/navigation.jpeg">

        <section class="about">
            <h2>About My Hikes</h2>
            <p>My Hikes was started with a simple goal in mind. That goal was to empower hikers to plan out and store hikes in a feeless, adless, and membershipless, browser based experience. With My Hikes, you can plan out a perfect wilderness adventure without annoying fees, ads and tiered experiences. My Hikes was designed to get you out into nature without any hassles.
            </p>
            
        </section>

    
    </main>

  
</body>

</html>