<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'My Hikes'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="welcome">
            <h2>Welcome to My Hikes</h2>
        </section>

        <img src="assets/wild.jpeg">

        <section class="about">
            <p>My Hikes is your personal hiking information repository. With My Hikes you can store all of the pertinent information for any of your past, present, and future hikes!
            </p>
            
        </section>

    
    </main>

  
</body>

</html>