<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Add Gear List'}) %>
    <link rel="stylesheet" href="/styles/new-hike.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

<section class="newproduct">
    <h2>Add A Gear List</h2>
</section>

<form method="POST" action="/gears/create/<%=hike._id %>">
    <!-- parking pass input -->
    <label for="parkingPass"> Parking Pass:</label>
    <input type="text" id="parkingPass" name="parkingPass" required>
    <br>
    <!-- ten essentials input -->
    <label for="tenEssentials">Ten Essentials:</label>
    <input type="text" id="tenEssentials" name="tenEssentials"  required>
    <br>
    <!-- bear cannister input -->
    <label for="bearCannister">Bear Cannister:</label>
    <input type="text" id="bearCannister" name="bearCannister"  required>
    <br>
    <!-- bear cannister input -->
    <label for="bearSpray">Bear Spray:</label>
    <input type="text" id="bearSpray" name="bearSpray"  required>
    <br>
    <!-- notes input -->
    <label for="notes">Additional Notes:</label>
    <textarea id="notes" name="notes" required></textarea>
    <br>
    <input type="submit" value="Add Gear List">
</form>
</body>

</html>