
header {
    background-color: #D4A373;
}

img {
    height: 360px;
    width: 300px;
    margin-left: auto;
    border-radius: 20%;
}

div {
    text-align: center;
}

body {
    background-color: #9A9B73;
}

.about {
    background-color: #D4A373;
    padding: 2rem;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    margin-bottom: 1rem;
}