header {
    background-color: #C0600C;
}

body {
    background-color: #9A9B73;
}

div {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #3a5a40;
    padding: 20px;
    margin: 4vh auto;
    box-shadow: 2px 2px 5px #344e41;
}

img {
    width: 60%;
    /* min-width: 200px; */
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 20%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

.actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

