
header {
    background-color: #D4A373;
}

img {
    height: 300px;
    width: 320px;
    margin-left: auto;
    border-radius: 50%;
    
}

body {
    background-color: #9A9B73;
}
/* About section styles */
.about {
    background-color: #CCC;
    padding: 2rem;
}
.about p {
    margin-bottom: 1rem;
}
