
header {
    background-color: #C0600C;
}

img {
    height: 300px;
    width: 320px;
    margin-left: auto;
    border-radius: 50%;
    
}

.logo {
    text-align: center;
}

body {
    background-color: #9A9B73;
}

.about {
    background-color: #C0600C;
    padding: 2rem;
}
.about p {
    margin-bottom: 1rem;
}
